@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

.iceberg_crm_callback * {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
}

.iceberg_crm_callback *,
.iceberg_crm_callback *:before,
.iceberg_crm_callback *:after {
    box-sizing: border-box !important;
}

.iceberg_crm_callback :focus,
.iceberg_crm_callback :active {
    outline: none !important;
}

.iceberg_crm_callback a:focus,
.iceberg_crm_callback a:active {
    outline: none !important;
}

.iceberg_crm_callback nav,
.iceberg_crm_callback footer,
.iceberg_crm_callback header,
.iceberg_crm_callback aside {
    display: block !important;
}


#callbackModal > .wrapper {
  min-height: 100%;
  display: flex !important;
  flex-direction: column !important;
}

#callbackModal > input,
#callbackModal > button,
#callbackModal > textarea {
  font-family: inherit !important;
}

#callbackModal > input::-ms-clear {
  display: none !important;
}

#callbackModal > button {
  cursor: pointer !important;
}

#callbackModal > button::-moz-focus-inner {
  padding: 0 !important;
  border: 0 !important;
}

#callbackModal > a,
#callbackModal > a:visited {
  text-decoration: none !important;
}

#callbackModal > a:hover {
  text-decoration: none !important;
}

#callbackModal > ul li {
  list-style: none !important;
}

#callbackModal > img {
  vertical-align: top !important;
}

#callbackModal > h1,
#callbackModal > h2,
#callbackModal > h3,
#callbackModal > h4,
#callbackModal > h5,
#callbackModal > h6 {
  font-size: inherit !important;
  font-weight: inherit !important;
}

#callbackModal > * {
  font-family: "Roboto", sans-serif !important;
}

.callback-widget-block {
  z-index: 99999;
  position: fixed !important;
  bottom: 80px !important;
  right: 50px !important;
}

.callback-widget-svg {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: fit-content !important;
  border-radius: 100px !important;
  padding: 10px !important;
  cursor: pointer !important;
  transition: 0.5s all !important;
  background-size: 200% auto !important;
  background-image: linear-gradient(to right, #3399CC 0%, #75B5D5 51%, #3399CC 100%) !important;
  box-shadow: 0 0 0 0 rgba(51, 153, 204, 80) !important;
}

.callback-widget-svg:hover {
  background-position: right center !important;
}

.callback-widget-svg svg {
  width: 30px !important;
  height: 30px !important;
}

.callback-widget-bg {
  background: #000000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  z-index: 2147483646 !important;
  visibility: hidden !important;
  opacity: 0 !important;
  transition: all 0.3s ease !important;
}

.callback-widget-bg.active {
  opacity: 0.5 !important;
  visibility: visible !important;
  overflow-y: hidden !important;
}

.callback-widget-modal {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  display: flex !important;
  max-width: 1000px !important;
  width: 100% !important;
  align-items: center !important;
  padding: 30px !important;
  background: #FFFFFF !important;
  border-radius: 24px !important;
  z-index: 2147483647 !important;
  visibility: hidden !important;
  opacity: 0 !important;
  transition: all 0.5s ease !important;
}

.callback-widget-modal.active {
  visibility: visible !important;
  opacity: 1 !important;
  overflow-y: hidden !important;
}

.callback-widget-container {
  width: 100% !important;
}

.callback-widget-blue {
  font-weight: 600 !important;
  font-size: 24px !important;
  color: #3399CC !important;
}

.callback-widget-red {
  color: #CC3333 !important;
}

.callback-widget-bold {
  font-weight: 600 !important;
  font-size: 18px !important;
  color: #2E3538 !important;
}

.callback-widget-title {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  font-weight: 400 !important;
  font-size: 24px !important;
  color: #3399CC !important;
}

.callback-widget-title svg {
  cursor: pointer !important;
  position: absolute !important;
  top: 40px !important;
  right: 40px !important;
}

.callback-widget-content {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  margin: 24px 0 0 0 !important;
  gap: 40px !important;
}

.callback-widget-image {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  gap: 20px;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  color: #2E3538 !important;
}

.callback-widget-image img {
  width: 300px !important;
  height: auto !important;
}

.callback-widget-form {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 24px !important;
}

.callback-widget-inputs {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  gap: 10px !important;
}

.callback-widget-label {
  font-weight: 700 !important;
  font-size: 12px !important;
  color: #303436 !important;
  opacity: 0.5 !important;
}

.callback-widget-input {
  width: 100% !important;
}

.callback-widget-input {
  display: flex !important;
  flex-direction: column !important;
  padding: 12px 18px !important;
  gap: 4px !important;
  width: 100% !important;
  height: 72px !important;
  background: #F9FAFA !important;
  border-radius: 20px !important;
}

.callback-widget-input input {
  background: none !important;
}

.callback-widget-input-block {
  display: flex !important;
  gap: 5px !important;
  margin: 5px 0 0 0 !important;
  font-weight: 400 !important;
  font-size: 18px !important;
  color: #303436 !important;
}

.callback-widget-input-block input {
  width: 100% !important;
}

.callback-widget-input-block textarea {
  width: 100% !important;
  resize: none !important;
  background: none !important;
}

.callback-widget-btn {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  height: auto !important;
  padding: 20px 30px !important;
  gap: 12px !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 120% !important;
  color: #F9FAFA !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  transition: 0.5s all !important;
  background-size: 200% auto !important;
  background-image: linear-gradient(to right, #3399CC 0%, #75B5D5 51%, #3399CC 100%) !important;
  box-shadow: 0 0 0 0 rgba(51, 153, 204, 80) !important;
  text-decoration: none !important;
}

.callback-widget-btn:hover {
  background-position: right center !important;
}

.callback-widget-qr-title {
  display: flex !important;
  align-items: center !important;
  flex-direction: column !important;
  gap: 60px !important;
  font-weight: 600 !important;
  font-size: 22px !important;
  color: #535F65 !important;
  text-align: center !important;
}

.callback-widget-qr-title img{
  width: 150px !important;
  height: 150px !important;
  max-width: 200px!important;
  max-height: 200px!important;
  color: #535F65 !important;
}

.callback-widget-btn-send {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  height: auto !important;
  gap: 12px !important;
  font-weight: 700 !important;
  font-size: 18px !important;
  line-height: 120% !important;
  color: #F9FAFA !important;
  border-radius: 20px !important;
  cursor: pointer !important;
  transition: 0.5s all !important;
  background-size: 200% auto !important;
  box-shadow: 0 0 0 0 rgba(51, 153, 204, 80) !important;
  text-decoration: none !important;
  background: #25D366 !important;
  padding: 15px 25px !important;
  white-space: nowrap !important;
}

@media(max-width: 1000px) {
  .callback-widget-title {
      font-size: 24px !important;
  }

  .callback-widget-blue {
      font-size: 24px !important;
  }

  .callback-widget-modal {
      max-width: 800px !important;
  }
}

@media(max-width: 800px) {
  .callback-widget-qr-title {
    display: none !important;
  }

  .callback-widget-image {
      display: none !important;
  }

  .callback-widget-modal {
      max-width: 500px !important;
  }

  .callback-widget-text {
      flex-wrap: wrap !important;
  }

  .callback-widget-title svg {
      top: 10px !important;
      right: 10px !important;
  }

  .callback-widget-inputs {
      flex-direction: column !important;
  }

  .callback-widget-modal {
      padding: 30px !important;
  }
}

@media(max-width: 530px) {
  .callback-widget-modal {
      max-width: 380px !important;
  }

  .callback-widget-blue {
      font-size: 18px !important;
  }

  .callback-widget-text {
      font-size: 18px !important;
  }
}